body {
    font-family: 'Roboto';
    color: #F9FAF8;
}

.firstsection {
    padding: 1% 15% 1% 15%;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-weight: bold;
}

.links {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
}

.header {
    gap: 55%;
    justify-content: space-between;
    display: flex;
}

a:active, a:hover, a:visited, a:link {
    text-decoration: none;
    color: #F9FAF8;
}

.text {
    margin: 10% 0%;
    display: flex;
    flex-direction: row;
}

.statementtext {
    display: flex;
    flex-direction: column;
}

.maintext {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0px;
}

.websitetext {
    padding: 0px;
    margin: 0px;
}

.header_secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header_logo {
    font-size: 24px;
    color: #f9faf8;
}

.image {
    margin: 0% 0% 0% 7%;
    flex-grow: 2;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6% 2%;
    background-color: gray;
}

.signup {
    width: 20%;
    background-color: #3882F6;
    border-radius: 5px;
    border-style: none;
    color: white;
    padding: 5px 15px 5px 15px;
    margin: 10px 0px;
}

.second_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information_header {
    align-self: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.quote_section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote_text {
    width: 55%;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.thor {
    width: 55%;
    color: #1F2937;
    font-weight: bold;
}

figure {
    aspect-ratio: 1 / 1;
    height: 40%;
    margin: 1%;
}

img {
    width: 80%;
    height: 80%;
    border-radius: 1em;
    border:#3882F6 solid;
  }

figcaption {
    width: 80%;
    height: 80%;
    color:#1F2937;
    text-align: center;
}

.illustrations {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
}